{% extends 'base_navigation.html.twig' %}

{% import 'MealzTemplateBundle::Components/button.html.twig' as MealzButton %}
{% import 'MealzTemplateBundle::Components/checkbox.html.twig' as MealzCheckbox %}
{% import 'MealzTemplateBundle::Components/headline.html.twig' as MealzHeadline %}
{% import 'MealzTemplateBundle::Components/table.html.twig' as MealzTable %}

{% block pageView %}slotIndex{% endblock %}
{% set wrapperClass = 'slot-list form-ajax' %}

{% block body %}

{# Set data for table header #}
{% set tableHeader = [{
        'label': 'table.title'|trans({}, 'general'),
        'class': 'slot-title'
    }, {
        'label': 'Limit',
        'class': 'slot-limit'
    }, {
        'label': 'table.actions'|trans({}, 'general'),
        'class': 'slot-actions no-sort'
    }]
%}

{# Set data for table content #}

{% set tableContent = [] %}
{% for slot in slots %}
    {% set tableContent = tableContent | merge([{
        'title': {
            'content': slot.title,
            'class': 'slot-title'
        },
        'limit': {
            'content': slot.limit > 0 ? slot.limit,
            'class': 'slot-limit'
        },
        'actions': {
            'content': MealzButton.buttonbar('', 'buttonbar-slot-actions', [
                MealzButton.link(path('MealzMealBundle_Slot_edit', {'slug': slot.slug}), 'button.edit'|trans({}, 'actions'), '', 'button-table load-ajax-form load-edit-form transparent', 'glyphicon-pencil'),
                MealzButton.link('', 'button.delete'|trans({}, 'actions'), '', 'button-table transparent delete', 'glyphicon-remove', '', {'data-id': slot.slug}),
                MealzCheckbox.createSimple('', slot.enabled, '', '', {'data-id': slot.slug})
            ]),
            'class': 'slot-actions'
        }
    }]) %}
{% endfor %}

{# Start tempalte #}

{{ MealzHeadline.create(1, 'headings.slots.list'|trans({},'general'), '', '', [
    MealzButton.link(path('MealzMealBundle_Slot_Form_empty'), 'slot.create'|trans({},'actions'), '', 'load-ajax-form load-create-form transparent', 'svg-dish')
], '') }}

    <div id="flash-msg" class="hidden alert"
         data-del-success-msg="{{ 'entity.deleted'|trans({'%entityName%': 'Slot', '%entity%': '_'}, 'messages') }}"
         data-err-msg="{{ 'error.unknown'|trans({}, 'messages') }}"></div>

    {% if form is defined %}
        <div class="error-form top-form">
        {% include 'MealzMealBundle:Slot/partials:form.html.twig' %}
        </div>
    {% else %}
        <div class="create-form top-form" style="display: none"></div>
    {% endif %}

{{ MealzTable.create('slot-table', 'table-full-width table-sortable', tableHeader, tableContent) }}

{% endblock %}
