{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{% if meal is defined %}Edit "{% if meal.dish %}{{ meal.dish.title }}{% endif %}"{% else %}Create new meal{% endif %}</h1>

		{% include ':partials:flashMessages.html.twig' %}

		{{ form(form) }}
	</div>
{% endblock %}