<div data-account-settlement-confirmation data-src="#hidden-content"></div>
<div class="account-settlement-confirmation" style="display: none;" id="hidden-content">
    <p>{{ 'payment.costsheet.confirmation.message'|trans({}, 'messages') }}</p>
    <a data-fancybox-continue class="button account-settlement-confirmation-continue"
       href="{{ path('mealz_accounting_cost_sheet_send_settlement_request', {'username': "_"}) }}">{{ 'payment.costsheet.confirmation.continue'|trans({}, 'messages') }}</a>
    <a data-fancybox-close class="button account-settlement-confirmation-cancel">{{ 'payment.costsheet.confirmation.cancel'|trans({}, 'messages') }}</a>
</div>