<div data-account-settlement-confirmation data-src="#hidden-content"></div>
<div class="account-settlement-confirmation" style="display: none;" id="hidden-content">
    <p>{{ 'payment.costsheet.confirmation.message'|trans({}, 'messages') }}</p>
    <a data-fancybox-continue title="Continue" class="button account-settlement-confirmation-item"
       href="{{ path('mealz_accounting_cost_sheet_send_balancing_request') }}">{{ 'payment.costsheet.confirmation.continue'|trans({}, 'messages') }}</a>
    <a data-fancybox-close title="Cancel" class="button account-settlement-confirmation-item">{{ 'payment.costsheet.confirmation.cancel'|trans({}, 'messages') }}</a>
</div>