{% for flash_message in app.session.flashbag.get('error') %}
	<div class="flash-error">
		{{ flash_message }}
	</div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
		{{ flash_message }}
	</div>
{% endfor %}