<div data-hide-user-confirmation data-src="#hide-user-hidden-content"></div>
<div class="confirm-action" style="display: none;" id="hide-user-hidden-content">
    <p>{{ 'payment.costsheet.hide_user.fancybox.message'|trans({}, 'messages') }}</p>
    <a data-fancybox-continue class="button" id="hide-user-confirmation-continue" href="{{ path('mealz_accounting_cost_sheet_hide_user_request', {'profile': "_"}) }}">{{ 'payment.costsheet.hide_user.fancybox.continue'|trans({}, 'messages') }}</a>
    <a data-fancybox-close class="button" id="hide-user-confirmation-cancel">{{ 'payment.costsheet.hide_user.fancybox.cancel'|trans({}, 'messages') }}</a>
</div>