{% apply spaceless %}
<tr class="table-row">
    <td class="text table-data wide-cell">__name__</td>
    {% for day in week.days %}
        {% for meal in day.meals.groupByType() %}
            <td class="meal-participation table-data"
                data-action="join"
                data-action-url="{{ path('MealzMealBundle_Meal_join', {
                    date: meal.dateTime.format('Y-m-d'),
                    dish: meal.dish.slug,
                    profile: '__username__'
                }) }}"
                data-dish-slug="{{ meal.dish.slug }}"
                data-date="{{ meal.dateTime.format('Y-m-d') }}"
                data-combined="{{ meal.isCombinedMeal ? 1 : 0 }}">
                <i class="glyphicon"></i>
            </td>
        {% endfor %}
    {% endfor %}
</tr>
{% endapply %}
