.accounting-book table {
  .payment-type {
    text-align: center;
    min-width: 20px;

    &.cash::before {
      content: '\20ac';
      color: $color-green;

      @include breakpoint(small) {
        content: '';
      }
    }
  }

  .amount {
    text-align: right;
  }

  .table-data-total {
    font-weight: 600;
  }
}
