* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "ClanOTNews", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $color-base;
  background: $color-body;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $color-gray-primary;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $color-white;
}

.container {
  @include clearfix();

  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
}

.content-wrapper {
  background: $color-white;
  margin-top: -25px;
  padding-top: 25px;
  padding-bottom: 25px;
}