body {
	font-size: 14px;
	font-family: ClanOTNews;
	color: $color-aoe-gray-darker;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
	color: $color-aoe-gray;
	text-decoration: none;
}

#{$a-tags-hover} {
	color: $color-white;
}

.container {
	@include clearfix();
	width: 1220px;
	margin: 0 auto;
	padding: 0 70px;
}