.category-list {
  .headline-container {
    .button {
      margin-top: -10px;
      color: $color-orange;
    }

    .icon.svg-dish {
      position: relative;
      top: 4px;
      width: 30px;
      height: 30px;
    }
  }

  .table {

    width: 100%;

    .category-title {
      width: 84%;
    }

    .category-actions {
      width: 16%;
    }
  }
}
