$fieldset-padding: 13px;

.dish-form {

  margin-top: -20px;
  margin-bottom: 40px;

  .wrapper-form {
    padding: 40px;
    background-color: $color-gray-light;
    text-align: center;

    @include breakpoint(small) {
      padding: 20px;
    }
  }

  fieldset {
    float: left;
    width: 50%;
    padding: $fieldset-padding $fieldset-padding 0;
    text-align: left;

    @include breakpoint(small) {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  input {
    margin-bottom: 20px;
  }

  .select-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;

    @include breakpoint(small) {
      width: calc(100% - (#{$fieldset-padding} * 2));
    }
  }
}
