.dish-form {

  .wrapper-form {
    padding: 37px;
    background-color: $color-gray-light;
    text-align: center;
  }

  fieldset {
    float: left;
    width: 50%;
    padding: 13px 13px 0;
    text-align: left;
  }

  input {
    margin-bottom: 20px;
  }

  select {
    width: 40%;
    margin-bottom: 30px;
  }
}
