.dish-list {
  .headline-container {
    .button {
      color: $color-orange;
    }
  }

  .dish-title,
  .dish-category {
    font-family: $font-bold;
  }

  .dish-title {
    width: 50%;
  }

  .dish-category {
    width: 37%;

    @include breakpoint(small) {
      font-family: $font-default;
    }
  }

  .dish-actions {
    width: 13%;
  }
}
