.login-page {
  form {
    padding: 20px;
    background-color: $color-gray-light;
    text-align: center;

    input {
      display: block;
      max-width: 300px;
      margin: 20px auto;
    }
  }
}

header .header-content .login .balance-text a {
  cursor: pointer;
  color: $color-white;
  font-weight: bold;
  position: relative;

  &.active::after {
    position: absolute;
    bottom: -34px;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    content: ' ';
    pointer-events: none;
  }
}
