.meal-select-box {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  width: 96%;
  background: $color-white;
  text-align: left;
  box-shadow: 0 2px 5px 0 $box-shadow;

  li {
    padding: 15px 25px;

    &.dishes {
      padding-left: 50px;
      border-bottom: 1px solid $color-gray-middle;

      &:last-child { border: none; }

    }

    &.category {
      padding: 25px 25px 10px;
      color: $color-gray-middle;
      font-weight: bold;
    }

    .variation-button {
      display: inline-block;
      padding: 1px 5px;
      border-radius: 4px;
      background: $color-gray-middle;
      font-size: 11px;
      cursor: pointer;
    }

    .variation-choice {
      position: absolute;
      top: 0;
      right: 0;
    }

  }

}

.meal-select {
  height: 35px;
  padding: 11px 15px 0;
  background-color: $color-white;
  line-height: 100%;
  text-align: left;
}

.meal-select-variations {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px 35px 25px;
  background-color: $color-gray-light;
  text-align: center;

  &::after {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    margin-top: -40px;
    border: solid transparent;
    border-width: 15px;
    border-right-color: $color-gray-light;
    content: ' ';
  }

  .variation {
    overflow: hidden;
    margin-bottom: 12px;
  }

  .checkbox-wrapper {
    float: left;
  }

  label {
    display: block;
    float: left;
    margin: 3px 0 0 12px;
    font-size: 14px;
  }

  .button {
    margin-top: 10px;
  }

}
