.meals-list {
  @include clearfix();

  .headline {
    text-align: center;
    font-family: "ClanOTBold", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    
    span {
      font-family: $font-default;
      color: $color-secondary;
      margin-top: 5px;
      display: block;
      font-size: 14px;
    }
  }

  .weeks {
    @include clearfix();

    background: url("../images/list-background.png") top center $color-white repeat-y;
    margin-top: -25px;
    padding: 25px 0 40px 0;
    box-shadow: inset 0px -40px 35px rgba(255,255,255,1);

    @include breakpoint(medium) {
      background-image: none;
      box-shadow: none;
    }
  }

  .week {
    width: 46%;
    float: left;

    @include breakpoint(medium) {
      float: none;
      width: 100%;

      &:last-child {
        margin-top: 40px;
      }
    }

    &:last-child {
      float: right;
    }
  }

  .save {
    text-align: center;
    padding-top: 20px;

    .btn-save {
      text-transform: uppercase;
      font-size: 14px;
      padding: 15px 20px;
    }
  }

  .no-meals {
    width: 350px;
    margin: 200px auto 0;
    background: url("../images/meal.png") top left 130px no-repeat;
    padding-top: 150px;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 1.5;
    color: $color-secondary;
    text-align: center;

    @include breakpoint(medium) {
      margin-top: 40px;
    }
  }
}