$border-color: $color-base;
$text-color: $color-base;

.print-participations {

  font-size: 12px;

  thead.table-header {
    display: table-row-group;
    color: $text-color;
  }

  .table {
    table-layout: fixed;
    width: 100%;
  }

  .table-row {
    border: none;
    font-size: 12px;
  }

  .wide-row {
    width: 200px;
  }

  .table-head {
    text-align: center;

    &.meal-title {
      word-wrap: break-word;
      padding: 5px;
    }
  }

  .table-content {
    .table-data {
      height: 40px;
      padding: 0;
      color: $text-color;
    }

    .text {
      vertical-align: middle;
    }

    .text-center {
      text-align: center;
    }

    .meal-participation.participating {
      background-color: $color-green;
    }
  }

  // table borders
  .table-head,
  .table-data {
    border-right: 1px solid $border-color;
  }

  .table-data {
    border-top: 1px solid $border-color;
  }

  .meal-participation {
    &:first-child {
      border-right: 1px solid $border-color;
    }
  }
}
