.print-costsheet {
  .table {
    table-layout: fixed;
    width: 100%;

    .table-data {
      vertical-align: middle;
      padding: 15px 5px;
      word-wrap: break-word;
    }

    // Highlight last month
    th:nth-child(5),
    td:nth-child(5) {
      padding: 15px;
      border-right: 1px solid $color-orange;
      border-left: 1px solid $color-orange;
    }

    th:nth-child(5) {
      border-top: 1px solid $color-orange;
    }

    th:nth-child(6),
    td:nth-child(6) {
      padding-left: 10px;
    }

    tr:last-child {
      td:nth-child(5) {
        border-bottom: 1px solid $color-orange;
      }
    }
  }

  @media print {
    table {
      .table-row {
        font-size: 12px;
      }
    }
  }
}
