.print-costsheet {
  .table {
    table-layout: fixed;
    width: 100%;

    .wide-row {
      width: 200px;
    }

    // Highlight last month
    th:nth-child(5),
    td:nth-child(5) {
      padding: 10px;
      border-right: 1px solid $color-orange;
      border-left: 1px solid $color-orange;
    }

    th:nth-child(5) {
      border-top: 1px solid $color-orange;
    }

    th:nth-child(6),
    td:nth-child(6) {
      padding-left: 10px;
    }

    tr:last-child {
      td:nth-child(5) {
        border-bottom: 1px solid $color-orange;
      }
    }
  }
}
