.last-account-balance {
  float: right;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;

  span {
    display: inline-block;
    margin-left: 10px;
    color: $color-green;

    &.dept {
      color: $color-red;
    }
  }
}

.dept {
  color: $color-red;
}

.transaction-history {
  td,
  th {
    &:last-child {
      width: 12%;
      min-width: 80px;
      font-weight: bold;
      text-align: right;
    }
  }

  tbody {
    .transaction-description {
      position: relative;
      padding-left: 35px;

      @include breakpoint(small) {
        padding-left: 0;
      }

      &::before {
        position: absolute;
        top: 17px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '\e179';
        color: $color-gray-secondary;
        font-size: 18px;
        font-family: "Glyphicons Halflings", sans-serif;

        @include breakpoint(small) {
          content: '';
        }
      }
    }
  }

  .transaction-meal td:last-child span {
    color: $color-red;
  }

  .transaction-payment {
    td:last-child span {
      color: $color-green;
    }

    .transaction-description::before {
      content: '\20ac';
      color: $color-green;

      @include breakpoint(small) {
        content: '';
      }
    }
  }

  tfoot {
    font-weight: bold;

    td:first-child {
      text-align: right;
    }

    td:last-child {
      color: $color-green;
    }
  }
}


