.last-account-balance {
  float: right;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  clear:right;

  span {
    display: inline-block;
    margin-left: 10px;
    color: $color-green;

    &.dept {
      color: $color-red;
    }
  }
}

.add-funds {
  float: right;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  color: $color-orange;
  line-height: 20px;
  position: relative;

  .load-payment-form {
    margin-right: 15px;
    vertical-align: middle;
    font-weight: bold;

    .glyphicon {
      top: 3px !important;
    }
  }

  #paypal-button-container {
    margin-top: 20px;
  }

  form {
    color: $color-gray-primary;
    position: absolute;
    right: 28px;
    z-index: 1;
    margin-top: 17px;
    padding: 30px;
    background-color: $color-gray-light;
    width: 500px;

    .cash-label {
      vertical-align: super;
      margin-right: 15px;
    }

    .invalid-amount {
      display: none;
      font-size: 10px;
      margin-left: 40px;
      color: $color-red;
    }

    .payment-method {
      display: block;
      font-size: 20px;
      margin: 30px 0px 20px;
      font-weight: bold;
    }

    button,
      input {
      display: inline-block;
    }

    input[type="text"] {
      width: 80px;
      padding: 11px 10px 9px;
      vertical-align: middle;
      border: 1px solid transparent;

      &:invalid {
        border: 1px solid $color-red;
      }

    }

    button {
      vertical-align: bottom;
      line-height: 14px;
      margin-top: 20px;

      @-moz-document url-prefix() {
        line-height: 10px;
      }
    }

    &::after {
      position: absolute;
      top: -20px;
      right: 15%;
      border: 10px solid transparent;
      border-bottom-color: $color-gray-light;
      content: ' ';
      pointer-events: none;
    }

  }
}

.dept {
  color: $color-red;
}

.transaction-history {
  td,
  th {
    &:last-child {
      width: 12%;
      min-width: 80px;
      font-weight: bold;
      text-align: right;
    }
  }

  tbody {
    .transaction-description {
      position: relative;
      padding-left: 35px;

      @include breakpoint(small) {
        padding-left: 0;
      }

      &::before {
        position: absolute;
        top: 17px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '\e179';
        color: $color-gray-secondary;
        font-size: 18px;
        font-family: "Glyphicons Halflings", sans-serif;

        @include breakpoint(small) {
          content: '';
        }
      }
    }
  }

  .transaction-meal td:last-child span {
    color: $color-red;
  }

  .transaction-payment {
    td:last-child span {
      color: $color-green;
    }

    .transaction-description::before {
      content: '\20ac';
      color: $color-green;

      @include breakpoint(small) {
        content: '';
      }
    }
  }

  tfoot {
    font-weight: bold;

    td:first-child {
      text-align: right;
    }

    td:last-child {
      color: $color-green;
    }
  }
}


/* MOBILE STYLING */
@media only screen and (max-width: 768px) {
  .add-funds form {
    width: auto;
  }
}
