.weeks-wrapper {
  a.week {
    @include clearfix();
    position: relative;
    float: left;
    width: 270px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
    color: $color-base;
    background-color: $color-gray-light;
    text-align: center;

    &:hover {
      color: inherit;
    }

    &.week-create {
      background-color: $color-gray-lighter;
    }

    &:nth-child(1) {
      border: 5px solid $color-secondary;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    .week-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .week-number {
        padding: 5px;
        font-family: "ClanOTBold", sans-serif;
      }
    }
  }
}
