.weeks-wrapper {
  a.week {
    @include clearfix();
    position: relative;
    float: left;
    width: 270px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
    color: $color-white;
    background-color: $color-green;
    text-align: center;

    &:hover {
      color: $color-white;
    }

    &.week-create {
      color: $color-base;
      background-color: $color-gray-light;
    }

    &:nth-child(1) {
      border: 5px solid $color-gray-primary;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    .week-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .week-number {
        padding: 5px;
        font-family: $font-bold;
      }
    }
  }
}

.meal-select-box {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  width: 96%;
  background: $color-white;
  text-align: left;
  box-shadow: 0 2px 5px 0 $box-shadow;

  li {
    padding: 15px 25px;

    &.dishes {
      padding-left: 50px;
      border-bottom: 1px solid $color-gray-middle;

      &:last-child { border: none; }

    }

    &.category {
      padding: 25px 25px 10px;
      color: $color-gray-middle;
      font-weight: bold;
    }

    .variation-button {
      display: inline-block;
      padding: 1px 5px;
      border-radius: 4px;
      background: $color-gray-middle;
      font-size: 11px;
    }

    .variation-choice {
      position: absolute;
      top: 0;
      right: 0;
    }

  }

}

.meal-select {
  height: 35px;
  padding: 11px 15px 0;
  background-color: $color-white;
  line-height: 100%;
  text-align: left;
}

