.week-list {
  a.week {
    @include clearfix();
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid $color-gray-primary;
    text-align: center;

    &:hover {
      color: inherit;
    }

    &.week-create {
      color: $color-green;
    }
  }
}
