# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    default_locale: en

    secret: '%app.secret%'
    csrf_protection: true
    http_method_override: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        # handler_id is the service id of the session handler
        handler_id: session.handler.pdo
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    assets:
        version_strategy: 'App\Mealz\MealBundle\Asset\VersionStrategy\HashVersionStrategy'
