hwi_oauth:
    # https://github.com/hwi/HWIOAuthBundle/blob/master/Resources/doc/2-configuring_resource_owners.md
    resource_owners:
        meals:
            type:                oauth2
            client_id:           '%app.idp.client_id%'
            client_secret:       '%app.idp.client_secret%'
            access_token_url:    '%app.idp.endpoint.access_token%'
            authorization_url:   '%app.idp.endpoint.auth_token%'
            infos_url:           '%app.idp.endpoint.user_token%'
            scope:               'openid roles profile'
            user_response_class: HWI\Bundle\OAuthBundle\OAuth\Response\PathUserResponse
            paths:
                identifier: id
                nickname:   preferred_username
                realname:   name
                firstname:  given_name
                lastname:   family_name
                email: email
            options:
                use_bearer_authorization: true
#    http_client: httplug.client.hwi_special
