# exclude everything ...
*

# except the following ...
!.env
!.env.test
!/bin/
!/config/
!/docker/
!/migrations/
!/public/
!/scripts/
!/src/
!/templates/
!/translations/
!composer.json
!composer.lock
!symfony.lock
!tests/bootstrap.php
!tests/phpunit.xml.dist

# ... but never include ...
/public/static/
