# exclude everything ...
*

# except the following ...
!.env
!/bin/
!/config/
!/docker/
!/docker/
!/migrations/
!/public/
!/src/
!/templates/
!/translations/
!composer.json
!composer.lock
!symfony.lock
!**/*.php.cache

# ... but never include ...
/public/static/
