# exclusions (alphabetical)
*.cache
.*
.DS_Store
/build/
/public/static/
node_modules
/tools/

# inclusions (alphabetical)
!.ddev/
!.dockerignore
!.env
!.env.test
!.gitlab-ci.yml
!.gitkeep
!.stylelintrc.json
!.php-cs-fixer.dist
!/migrations
!.prettierrc
!.prettierignore
!/public/.htaccess

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/src/Resources/style/output.css
/**/*.d.ts
/src/Resources/style/output.css.map
test_ci_cypress.sh
tests/e2e/cypress/videos/
tests/e2e/cypress/screenshots/
test_ci_cypress.sh
tests/e2e/cypress/e2e/FillDBWithStuff.cy.ts
tests/e2e/cypress/downloads/result.pdf
tests/e2e/cypress/downloads/teilnehmerliste.pdf
src/Resources/style/output.css.map

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###
