# exclusions (alphabetical)
*.cache
.*
.DS_Store
/app/build/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/vendor/
/bin/
/build/
/composer.phar
/phpunit.xml
/web/bundles/
/web/css
/app/Resources/fonts/
/web/images/
/web/js/
/web/media/*
bower_components
cache.properties
node_modules
vendor

# inclusions (alphabetical)
!.gitkeep
!.stylelintrc.json
