# exclusions (alphabetical)
*.cache
.*
.DS_Store
/app/build/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/vendor/
/build/
/composer.phar
/web/bundles/
/web/css
/public/images/
/public/static/
/web/js/
/web/media/*
cache.properties
node_modules
vendor

# inclusions (alphabetical)
!.ddev/
!.dockerignore
!.env
!.env.test
!.gitlab-ci.yml
!.gitkeep
!.stylelintrc.json
!/migrations
!/public/.htaccess

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
