<?php

// Only check for files in $lookupDir
$lookupDir = [__DIR__ . '/src/Mealz', __DIR__ . '/tests'];

$finder = PhpCsFixer\Finder::create()->in($lookupDir);

$config = new PhpCsFixer\Config();
return $config
    ->setRules([
        '@Symfony' => true,
        'concat_space' => ['spacing' => 'one'],
        'ordered_imports' => [
            'imports_order' => [
                'class', 'function', 'const',
            ],
            'sort_algorithm' => 'alpha',
        ],
        'phpdoc_to_comment' => [
            'ignored_tags' => [
                'psalm-suppress',     // Psalm doesn't like /* */ inline comments and php-cs-fixer /** */
                'psalm-var',          // The latter one is used by psalm and a valid php-doc comment.
            ],
        ],
        'single_line_throw' => false,
        'no_leading_import_slash' => true
    ])
    ->setUsingCache(false)
    ->setFinder($finder);
