version: '3'

services:
  app:
    image: "aoepeople/meals:${VERSION_APP:-latest}"
    build:
      context: .
    ports:
      - "8033:80"
      - "443:443"
    environment:
      - SYMFONY_ENV=staging
      # - ...

  db:
    image: "aoepeople/meals-test-db:${VERSION_DB:-latest}"
    build:
      context: docker/db
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - /var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=db
      - MYSQL_DATABASE=db
      - MYSQL_USER=db
      - MYSQL_PASSWORD=db
