{% extends '::base.html.twig' %}

{% set wrapperClass = 'category-list form-ajax' %}

{% block body %}

{# Set data for table header #}

{% set tableHeader = [{
        'label': 'Title',
        'class': 'category-title'
    }, {
        'label': 'Actions',
        'class': 'category-actions no-sort'
    }]
%}

{# Set data for table content #}

{% set tableContent = [] %}
{% for category in categories %}
    {% set tableContent = [{
        'title': {
            'content': category.title,
            'class': 'category-title'
        },
        'actions': {
            'content': MealzButton.buttonbar('', 'buttonbar-category-actions', [
                            MealzButton.link(link(category, 'edit'), 'Edit', '', 'load-ajax-form load-edit-form transparent', 'glyphicon-pencil'),
                            MealzButton.link(link(category, 'delete'), 'Delete', '', 'transparent', 'glyphicon-remove')
                       ]),
            'class': 'category-actions'
        }
    }] | merge(tableContent) %}
{% endfor %}

{# Start tempalte #}

{{ MealzHeadline.create(1, 'list.category'|trans({},'general'), '', '', [
    MealzButton.link(path('MealzMealBundle_Category_Form_empty'), 'Create Category', '', 'load-ajax-form load-create-form transparent', 'svg-dish')
], '') }}

    {% if form is defined %}
        <div class="create-form">
        {% include 'MealzMealBundle:AjaxForms:form.html.twig' %}
        </div>
    {% else %}
        <div class="create-form" style="display: none"></div>
    {% endif %}

{{ MealzTable.create('category-table', 'table-sortable', tableHeader, tableContent) }}

{% endblock %}