{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{% if dish is defined %}Edit "{{ dish.title }}"{% else %}Create new dish{% endif %}</h1>

		{% include ':partials:flashMessages.html.twig' %}

		{{ form(form) }}
	</div>
{% endblock %}