<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>

        <!-- Keep the following config in sync with the one in pipeline tests  -->
        <env name="DB_NAME" value="db_test" force="true"/>
        <!-- The following config is required to have the same cookie domain for mercure-hub and app -->
        <!-- Without it we can't set the hub cookies from app -->
        <env name="MERCURE_URL" value="localhost" force="true"/>
        <env name="MERCURE_PUBLIC_URL" value="localhost" force="true"/>

        <env name="KERNEL_CLASS" value="App\Kernel" force="true"/>
        <env name="APP_DEBUG" value="false" force="true"/>
        <env name="APP_ENV" value="test" force="true"/>

        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="Meals Test Suite">
            <directory>../src/Mealz/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="../build/artifacts/qa/junit.xml"/>
    </logging>

    <coverage cacheDirectory="./.cache"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">

        <include>
            <directory suffix=".php">../src</directory>
        </include>

        <exclude>
            <directory>../src/Mealz/*Bundle/DataFixtures</directory>
            <directory>../src/Mealz/*Bundle/DependencyInjection</directory>
            <directory>../src/Mealz/*Bundle/Resources</directory>
            <directory>../src/Mealz/*Bundle/Tests</directory>
            <file>../src/*Bundle/*Bundle.php</file>
            <file>../src/Kernel.php</file>
        </exclude>

        <report>
            <php outputFile="../../build/artifacts/qa/code-coverage.cov"/>
        </report>
    </coverage>

</phpunit>
