<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_DEBUG" value="1" force="true" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Meals Test Suite">
            <directory>../src/Mealz/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="../build/artifacts/qa/junit.xml" />
    </logging>

    <coverage cacheDirectory="./.cache"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">

        <include>
            <directory suffix=".php">../src</directory>
        </include>

        <exclude>
            <directory>../src/Mealz/*Bundle/DataFixtures</directory>
            <directory>../src/Mealz/*Bundle/DependencyInjection</directory>
            <directory>../src/Mealz/*Bundle/Resources</directory>
            <directory>../src/Mealz/*Bundle/Tests</directory>
            <file>../src/*Bundle/*Bundle.php</file>
            <file>../src/Kernel.php</file>
        </exclude>

        <report>
            <php outputFile="../../build/artifacts/qa/code-coverage.cov" />
        </report>
    </coverage>

</phpunit>
