{% extends '::base.html.twig' %}

{% block headerContent %}

    {% include 'modules/navigation.html.twig' %}
    <div class="login {{ (is_granted('IS_AUTHENTICATED_REMEMBERED')) ? 'logged-in' : '' }}">
        {% include 'modules/login.html.twig' %}
    </div>
{% endblock %}
