{% import 'MealzMealBundle::Components/headline.html.twig' as MealzHeadline %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AOEMeals</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('mealz.css') }}" />
	{% block head %}{% endblock %}
</head>
<body>

	{% include 'header.html.twig'  %}

	{% if wrapperClass is not defined %}
		{% set wrapperClass = '' %}
	{% endif %}

	<div class="container content-wrapper {{ wrapperClass }}">
		{% block body %}
		{% endblock %}
	</div>

    <script src="{{ asset('mealz.js') }}"></script>
	</body>
</html>
