{% extends '::base.html.twig' %}

{% set wrapperClass = 'meals-list' %}

{% block body %}

{% include ':partials:flashMessages.html.twig' %}

<div class="weeks">
	{% for week in weeks %}
		{% include 'MealzMealBundle:Meal/partials:week.html.twig' %}
	{% endfor %}
</div>

<ul class="legend">
	<li>Available for picking</li>
	<li>Locked due to ...</li>
</ul>

{% endblock %}
