{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
	<h1>Menu</h1>
	{% include ':partials:flashMessages.html.twig' %}
	{% include 'MealzMealBundle:Meal/partials:mealTable.html.twig' with {showDate: true}%}
	</div>

{% endblock %}