{% extends '::base_navigation.html.twig' %}

{% set wrapperClass = 'transaction-history' %}

{% block body %}

    <div class="headline-container headline-container-h1 headline-left"><h1>Konto</h1></div>
    <div class="last-account-balance">
        Kontostand am 31.09.2016: <span class="dept">- 20€</span>
    </div>
    <table class="table table-full-width">
        <thead>
            <tr class="table-header">
                <th class="table-head">Date</th>
                <th class="table-head">Description</th>
                <th class="table-head">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row transaction-meal">
                <td class="table-data">Oct 26, 2016</td>
                <td class="table-data transaction-description">Salad with cucumbers, und noch vieles mehr</td>
                <td class="table-data"><span>-</span> 3,20€</td>
            </tr>
            <tr class="table-row transaction-meal">
                <td class="table-data">Oct 26, 2016</td>
                <td class="table-data transaction-description">Salad with cucumbers, und noch vieles mehr</td>
                <td class="table-data"><span>-</span> 3,20€</td>
            </tr>
            <tr class="table-row transaction-payment">
                <td class="table-data">Oct 26, 2016</td>
                <td class="table-data transaction-description">Cash Payment</td>
                <td class="table-data"><span>+</span> 15,80€</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="table-row">
                <td class="table-data transaction-description" colspan="2">Aktueller Kontostand:</td>
                <td class="table-data"><span>+</span> 78,50€</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
