$color-white: #FFFFFF;
$color-light-gray: #F8F8F8;
$color-dark-gray: #DCE2E6;

$color-aoe-orange: #f57C00;
$color-aoe-blue: #637B98;
$color-aoe-background-one: $color-light-gray;
$color-aoe-background-two: $color-white;
