@font-face {
  font-family: 'DINRegular';
  src: url('fonts/dinweb.eot');
  src: url('fonts/dinweb.eot?#iefix') format("embedded-opentype"), url('fonts/dinweb.woff') format("woff"), url('fonts/dinweb.ttf') format("truetype"), url('fonts/dinweb.svg#webfont') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINLight';
  src: url('fonts/DINLight.eot');
  src: url('fonts/DINLight.eot?#iefix') format("embedded-opentype"), url('fonts/DINLight.woff') format("woff"), url('fonts/DINLight.ttf') format("truetype"), url('fonts/DINLight.svg#svgFontName') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINMedium';
  src: url('fonts/DINMedium.eot');
  src: url('fonts/DINMedium.eot?#iefix') format("embedded-opentype"), url('fonts/DINMedium.woff') format("woff"), url('fonts/DINMedium.ttf') format("truetype"), url('fonts/DINMedium.svg#svgFontName') format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ClanOTRegular';
  src: url('fonts/ClanOT-News.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClanOTLight';
  src: url('fonts/ClanOT-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClanOTMedium';
  src: url('fonts/ClanOT-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClanOTThin';
  src: url('fonts/ClanOT-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOTBold';
  src: url('fonts/ClanOT-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
