MealzUserBundle_login:
    path:  /login
    defaults: { _controller: App\Mealz\UserBundle\Controller\SecurityController::loginAction }
    methods:  [GET, POST]

MealzUserBundle_logout:
    path:  /logout
    # magic method that Symfony intercepts and is therefore never called

MealzUserBundle_api_user_data:
    path: /api/user
    defaults: { _controller: App\Mealz\UserBundle\Controller\UserController::getUserData }
    methods: [GET]

MealzUserBundle_api_login:
    path: /api/login
    defaults: { _controller: App\Mealz\UserBundle\Controller\SecurityController::loginAction }
    methods: POST