<form name="settleform">
    <a id="settle-account" class="form-button" data-profile="{{ profile }}">
        {{ 'payment.costsheet.account_settlement.button'|trans({}, 'messages') }}
    </a>
</form>
