
{% set participant = eventParticipation.getParticipant(app.user.profile) %}

<div class="meal-row event" data-slug="{{ eventParticipation.event.slug }}">
    <div class="title no-description">
        {{ 'event.title'|trans({},'messages') }}: <span>{{- eventParticipation.event.title -}}</span>
    </div>
    {% include 'MealzMealBundle:Meal/partials:eventActionsWrapper.html.twig' %}
</div>
