<div class="wrapper-meal-actions wrapper-variation-vertical-center" data-id="{{ eventParticipation.id }}">
    {% include 'MealzMealBundle:Meal/partials:eventParticipants.html.twig' %}
    {% include 'MealzMealBundle:Meal/partials:eventActions.html.twig' %}
</div>