<div class="wrapper-meal-actions wrapper-variation-vertical-center">
    {% include 'MealzMealBundle:Meal/partials:guestMealParticipants.html.twig' %}
    {% include 'MealzMealBundle:Meal/partials:guestMealActions.html.twig' %}
</div>