<div class="action">
    <div class="checkbox-wrapper {% if meal.data.isParticipationLimitReached %}disabled{% endif %}">
        {{ form_row(form.children.day.children.meals.children[meal.value]) }}
    </div>
</div>