<div class="meal-row">
    {% for meal in mealsVariations %}
        {% set dish = meal.data.dish %}
        {% if loop.first %}
            <div class="text">
                <div class="title">
                    {{- dish.parent.title -}}
                </div>
            </div>
        {% endif %}
        <div class="variation-row" data-slug="{{ dish.slug }}">
            <div class="text text-variation">
                {{- dish.title -}}
            </div>
            {% include 'MealzMealBundle:Meal/partials:guestMealActionsWrapper.html.twig' %}
        </div>
    {% endfor %}
</div>