{% set dish = meal.dish %}

<div class="meal-row">
	{% spaceless %}
	<div class="text">
		<div class="title">
			{{ dish.title }}
		</div>
		<div class="description">
			{% if dish.description %}
				{{ dish.description }}
			{% else %}
				{{ 'content.participation.dish.no_description'|trans({},'general') }}
			{% endif %}
		</div>
	</div>
	{% include 'MealzMealBundle:Meal/partials:mealActions.html.twig' %}
	{% endspaceless %}
</div>