<div class="meal-row">

    {% spaceless %}

        {% for meal in mealVariationGroup %}
            {% set dish = meal.dish %}

            {% if loop.first %}
                <div class="text">
                    <div class="title">
                        {{ dish.parent.title }}
                    </div>
                </div>
            {% endif %}
            <div class="variation-row">
                <div class="text text-variation">{{ dish.title }}</div>
                {% include 'MealzMealBundle:Meal/partials:mealActions.html.twig' %}
            </div>
        {% endfor %}

    {% endspaceless %}
</div>