{% set dish = meal.dish %}

<div class="meal-row">
	{% spaceless %}
	<div class="text">
		<div class="title">
			{{ dish.title }}
		</div>
		<div class="description">
			{% if dish.description %}
				{{ dish.description }}
			{% else %}
				{{ 'content.participation.dish.no_description'|trans({},'general') }}
			{% endif %}
		</div>
	</div>
	<div class="wrapper-vertical-center">
		<div class="participants">
			<span>
				<span class="participants-count">
					{{ meal.participants | length }}
				</span>
			</span>
		</div>
		<div class="action">

		</div>
	</div>
	{% endspaceless %}
</div>