<div class="wrapper-meal-actions wrapper-variation-vertical-center" data-id="{{ meal.id }}">
    {% include 'MealzMealBundle:Meal/partials:mealParticipants.html.twig' %}
    {% include 'MealzMealBundle:Meal/partials:mealActions.html.twig' %}
</div>