{% set dish=meal.dish %}
{% if is_granted('ROLE_KITCHEN_STAFF') %}
	<div class="col-sm-8 col-xs-8">
{% else %}
	<div class="col-md-8 col-sm-7 col-xs-12">
{% endif %}

	<h4><a href="{{ link(meal) }}">{{ dish.title }}</a></h4>
</div>

{% if mealMargin %}

		{% if is_granted('ROLE_KITCHEN_STAFF') %}
			<div class="col-xs-4 text-right">
				<h4>
					<div class="label label-default">
						{{ meal.totalConfirmedParticipations }} / {{ meal.participants | length }}
					</div>
				</h4>
			</div>
		{% else %}
			<div class="col-md-4 col-sm-5 col-xs-12 text-right">
				{% include 'MealzMealBundle:Meal/partials:userTools.html.twig' with {'button_class': 'btn-xs'} %}
			</div>
		{% endif %}
{% endif %}