<div class="meal-row">

    {% spaceless %}
        {% set parentFlag = false %}
        {% if mealVariationGroup[0].dish.isNew and mealVariationGroup[1].dish.isNew %}
            {% set parentFlag = true %}
        {% endif %}

        {% for meal in mealVariationGroup %}
            {% set dish = meal.dish %}

            {% if loop.first %}
                <div class="text">
                    <div class="title">
                        {{ dish.parent.title }}
                        {% if parentFlag %}
                            <span class="new-flag">{{ 'content.participation.dish.new'|trans({},'general') }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="variation-row">
                <div class="text text-variation">{{ dish.title }}
                    {% if dish.isNew and not parentFlag %}
                        <span class="new-flag">{{ 'content.participation.dish.new'|trans({},'general') }}</span>
                    {% endif %}
                </div>
                {% include 'MealzMealBundle:Meal/partials:mealActions.html.twig' %}
            </div>
        {% endfor %}

    {% endspaceless %}
</div>
