{% apply spaceless %}
{% set dayParticipation = participations[day.dateTime.format('Y-m-d')] %}
{% set participantsCountClasses = ['participants-count'] %}

{% set count = 0 %}
{% set limit = 0 %}
{% if dish.isCombinedDish %}
    {% set count = dayParticipation['countByMealIds'][meal.id][meal.dish.slug]['count'] %}
    {% set limit = dayParticipation['countByMealIds'][meal.id][meal.dish.slug]['limit'] %}
{% else %}
    {% set count = dayParticipation['totalCountByDishSlugs'][meal.dish.slug]['count']|round(0, 'ceil') %}
    {% set limit = dayParticipation['totalCountByDishSlugs'][meal.dish.slug]['limit'] %}
{% endif %}

{% if day.enabled and availabilityService.available(meal) %}
    {% set participantsCountClasses = participantsCountClasses|merge(['participation-allowed']) %}
{% endif %}

{% set tooltipClasses = ['tooltiptext'] %}
{% set tooltipId = '' %}
{% set tooltipText = '' %}

{% if is_granted('ROLE_USER') %}
    {% set participant = meal.getParticipant(app.user.profile) %}
    {% if participant and is_participation_pending(participant) %}
        {% if is_allowed_to_swap(meal) %}
            {% set participantsCountClasses = participantsCountClasses|merge(['participation-pending']) %}
        {% endif %}
        {% set tooltipClasses = tooltipClasses|merge(['active']) %}
        {% set tooltipId = 'tooltip_offered' %}
        {% set tooltipText = "tooltip.offered_meal" %}
    {% elseif false == participant and is_offer_available(meal, participant) %}
        {% if is_allowed_to_swap(meal) %}
            {% set participantsCountClasses = participantsCountClasses|merge(['offer-available']) %}
        {% endif %}
        {% set tooltipClasses = tooltipClasses|merge(['active']) %}
        {% set tooltipId = 'tooltip_available' %}
        {% set tooltipText = "tooltip.available_meal" %}
    {% endif %}
{% endif %}
{% endapply %}
<div class="participants">
    <span class="{{ participantsCountClasses|join(' ') }}">
        <span>{{ count }}</span>
        <label>{{ 0 < limit ? ' / ' ~ limit }}</label>
        <span class="{{ tooltipClasses|join(' ') }}">{{ tooltipText|trans({}, "messages") }}</span>
    </span>
</div>
