<div class="week">
	{% set headline = 'week.current'|trans({},'general') %}
	{% if 'now' | date('U') < week.startTime | date('U') %}
		{% set headline = 'week.next'|trans({},'general') %}
	{% endif %}

	{% set headlineSub = week.startTime | date('D d.m.') ~ ' - ' ~ week.endTime | date('D d.m.') %}

	{{ MealzHeadline.create(1, headline, '', 'centered', [], headlineSub) }}

	{% if not week.enabled %}
		{% include 'MealzMealBundle:Meal/partials:noMeals.html.twig' %}
	{% elseif week.days | length > 0 %}
		{% for day in week.days %}
			{% include 'MealzMealBundle:Meal/partials:day.html.twig' %}
		{% endfor %}
	{% else %}
		{% include 'MealzMealBundle:Meal/partials:noMeals.html.twig' %}
	{% endif %}
</div>