<div class="event-row">
    {% if selectedEvent != false %}
        {% for formView in selectedEvent.formViews %}
            {{ form_widget(formView, { 'attr': {'class':  'event-selected event-persisted'} }) }}
        {% endfor %}
    {% endif %}

    <div class="event-select-box">
        <ul>
            {% for event in events %}
                <li class="events" data-attribute-id="{{ event.id }}">
                    <span class="event-title">{{ event.title }}</span>
                </li>
            {% endfor %}
            {% if events|length == 0 %}
                <li class="category">
                    {{ 'event.not_available'|trans({},'messages') }}
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="meal-select event">
        <span class="event-label">{% apply spaceless %}
        {% if selectedEvent != false %}
            todo
        {% endif %}
        {% endapply %}</span>
        <a class="remove-event" href="#">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>
