.combi-meal-selector {
  .dish,
  .dish-variation {
    overflow: auto;
    width: 100%;
  }

  .dish {
    margin-top: 25px;

    .title,
    > label {
      font-size: 22px;
    }

    label {
      float: left;
    }

    input {
      float: right;
    }

    .dish-variation {
      margin-top: 20px;
    }
  }
}
