#combi-meal-selector {
  .meal-wrapper {
    .dish-wrapper {
      margin: 25px 0;

      .dish {
        .title {
          font-size: 20px;
        }

        .variation {
          margin: 20px 0;
        }

        &.no-variation {
          font-size: 20px;
        }

        &.no-variation, .variation {
          overflow: auto;
          width: 100%;

          label {
            float: left;
          }
          input {
            float: right;
          }
        }
      }
    }
  }
}
