.combined-meal-selector {
  .dish,
  .dish-variation {
    overflow: hidden;
    width: 100%;
  }

  .dish {
    margin-top: 25px;

    .title,
    > label {
      font-size: 22px;
    }

    label {
      float: left;
    }

    input {
      float: right;
    }

    .dish-variation {
      margin-top: 20px;
    }

    input[type="radio"] {
      appearance: none;
      display: grid;
      width: 1.15em;
      height: 1.15em;
      margin: 0;
      border: 0.15em solid $color-green;
      border-radius: 50%;
      color: $color-green;
      background-color: #fff;
      font: inherit;
      place-content: center;

      &::before {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        content: "";
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em $color-green;
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
