%base-styling {
  border: 0;
  color: $color-gray-primary;
  font-size: 12px;
  font-family: $font-light;
}

.hidden-form-field {
  position: absolute;
  visibility: hidden;
}

input {
  @extend %base-styling;
  -webkit-font-smoothing: antialiased;

  &[type="text"],
  &[type="password"] {
    width: 100%;
    padding: 10px;
  }

  &[type="number"] {
    padding: 10px;
  }

  &:focus {
    outline: none;
  }
}

select {
  @extend %base-styling;

  position: relative;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: $color-white;
  cursor: pointer;
  text-indent: 1px;
  text-overflow: "";
  appearance: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.select-wrapper {
  position: relative;
  display: block;

  select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23606b72%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
  }
}

fieldset {
  width: 100%;

  legend {
    font-size: 12px;
    font-family: $font-bold;
  }
}

.form-row {
  width: 100%;
  margin-bottom: 20px;

  input.form-field-invalid {
    padding: 9px;
    border: 1px solid $color-red;
  }
}

.form-field-errors {
  position: absolute;
  color: $color-red;
  font-size: 11px;
  line-height: 20px;
}

.error {
  display: none;
  margin: 14px 0;
  color: $color-red;
}

$fieldset-padding: 13px;

.form-ajax {
  .top-form {
    margin-top: -10px;
    margin-bottom: 40px;
  }

  .create-form {
    form::after {
      position: absolute;
      top: -20px;
      right: 50px;
      margin-left: -10px;
      border: 10px solid transparent;
      border-bottom-color: $color-gray-light;
      content: " ";

      @include breakpoint(small) {
        border: 0;
      }
    }
  }

  .edit-form {
    form {
      display: none;
    }

    form::after {
      position: absolute;
      top: -20px;
      left: 50px;
      margin-left: -10px;
      border: 10px solid transparent;
      border-bottom-color: $color-gray-light;
      content: " ";

      @include breakpoint(small) {
        border: 0;
      }
    }
  }

  form {
    position: relative;

    padding: 40px;
    background-color: $color-gray-light;
    text-align: center;

    @include breakpoint(small) {
      padding: 20px;
    }
  }

  fieldset {
    float: left;
    width: 50%;
    padding: $fieldset-padding $fieldset-padding 0;
    text-align: left;

    @include breakpoint(small) {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .select-wrapper {
    width: 50%;
    margin: 0 auto 10px;

    @include breakpoint(small) {
      width: calc(100% - (#{$fieldset-padding} * 2));
    }
  }
}
