%meal,
.meal,
.day {
  $meal-border-width: 25px;

  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-left: $meal-border-width solid $color-gray-secondary;
  background: $color-gray-light;

  &.is-available {
    border-color: $color-green;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .calendar-icon {
    position: absolute;
    bottom: 5px;
    left: -17px;
    z-index: 2;
    color: $color-white;
    cursor: pointer;

    &::before {
      left: 0;
      content: "\e109";
      font-size: 12px;
      font-family: "Glyphicons Halflings", sans-serif;
    }

    &.modified::before {
      left: 0;
      content: "\e109";
      color: $color-red;
      font-size: 12px;
      font-family: "Glyphicons Halflings", sans-serif;
    }
  }

  .limit-icon {
    position: absolute;
    top: 5px;
    left: -17px;
    z-index: 2;
    color: $color-white;
    cursor: pointer;

    &::before {
      left: 0;
      content: "\e186";
      font-size: 12px;
      font-family: "Glyphicons Halflings", sans-serif;
    }

    &.modified::before {
      left: 0;
      content: "\e186";
      color: $color-red;
      font-size: 12px;
      font-family: "Glyphicons Halflings", sans-serif;
    }
  }

  .limit-box {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: $color-gray-light;
    box-shadow: 0 3px 8px 0 $box-shadow;

    .limit-input {
      appearance: textfield;
      display: block;
      float: right;
      width: 35px;
      min-height: 20px;
      margin-top: 0;
      padding: 2px 3px;
      border: 1px solid $color-gray-secondary;
      background-color: $color-white;
      background-color: -moz-field;
      font: -moz-field;
      text-align: left;
      box-shadow: 1px 1px 1px 0 $color-gray-light inset;
    }

    p {
      margin-bottom: 10px;
      padding: 5px 20px;
      color: $color-white;
      background-color: $color-green;
      font-weight: bold;
    }

    label {
      display: block;
      float: left;
      margin-right: 5px;
      padding-top: 3px;
    }

    .limit-box-save {
      margin-top: 10px;
    }

    .limit-box-meal {
      overflow: hidden;
      margin-bottom: 5px;
      padding: 0 20px;
    }

    .button {
      margin-bottom: 10px;
    }
  }

  .week-day {
    position: absolute;
    top: 0;
    left: $meal-border-width * -1;
    width: $meal-border-width;
    height: 100%;
    color: $color-white;
    font-weight: bold;
    line-height: $meal-border-width;

    span {
      position: relative;
      top: 50%;
      display: block;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .meal-row {
    position: relative;
    padding: 10px 15px;

    &:not(:last-child) {
      border-bottom: 2px solid $meal-border-color;
    }

    &.no-meal {
      padding-top: 37px;
      padding-bottom: 37px;
      line-height: 56px;
    }

    &.one-meal {
      padding-top: 18px;
      padding-bottom: 18px;
      line-height: 28px;
    }

    .title {
      margin-bottom: 5px;
      font-weight: bold;
      font-family: $font-bold;
      line-height: 1.5;
    }

    .text .new-flag {
      padding: 2px 7px;
      color: $color-gray-lighter;
      background-color: $color-red;
      font-weight: bold;
      line-height: 1;
    }
  }

  .select-wrapper {
    padding: 10px 15px;
    border-bottom: 2px solid $meal-border-color;

    select {
      width: 50%;
      margin-right: 10px;
      border: 1px solid $meal-border-color;
    }

    .loader {
      display: inline-block;
      visibility: hidden;
      width: 25px;
      height: 25px;
      background: url("./images/wait-grey.svg") no-repeat scroll center center transparent;
      background-size: cover;
      vertical-align: middle;

      path {
        fill: $color-base;
      }
    }
  }

  .variation-row {
    margin-top: -3px;
  }

  .text,
  .wrapper-vertical-center,
  .wrapper-variation-vertical-center,
  .participants,
  .action {
    display: inline-block;
  }

  .text {
    width: 65%;
    padding-right: 10px;

    @include breakpoint(small) {
      width: 62%;
    }

    @include breakpoint(smaller) {
      width: 55%;
    }

    @include breakpoint(large) {
      width: 75%;
    }
  }

  .text-variation {
    line-height: 30px;
  }

  .wrapper-vertical-center {
    position: absolute;
    top: 50%;
    width: 28%;
    height: 30px;
    margin-top: -15px;

    @include breakpoint(small) {
      width: 36%;
    }

    @include breakpoint(large) {
      width: 20%;
    }
  }

  .wrapper-variation-vertical-center {
    position: absolute;
    width: 28%;
    height: 30px;
    vertical-align: bottom;

    @include breakpoint(small) {
      width: 38%;
    }

    @include breakpoint(large) {
      width: 25%;
    }
  }

  .participants,
  .action {
    display: inline-block;
  }

  .action,
  .checkbox-wrapper {
    vertical-align: top;
  }
}

.meal,
.day {
  .participants {
    width: 80%;
    padding-right: 10px;
    text-align: right;

    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(small) {
      width: 75%;
    }
  }

  .action {
    width: 20%;
    padding-top: 4px;

    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(small) {
      width: 25%;
    }
  }
}

.participants {
  margin-top: 5px;

  .participants-count {
    position: relative;
    height: 38px;
    margin-right: 5px;
    padding: 5px 10px 7px 12px;
    border-radius: 20px;
    color: $color-white;
    background: $color-gray-secondary;
    font-size: 12px;
    font-family: $font-bold;

    @include breakpoint(small) {
      padding: 5px 10px 7px 5px;
    }

    &::before {
      display: inline-block;
      width: 13px;
      height: 12px;
      margin-right: 5px;
      content: "\e008";
      font-size: 12px;
      font-family: "Glyphicons Halflings", sans-serif;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    label {
      vertical-align: middle;
    }

    &.participation-limit-reached {
      background-color: $color-gray-grayed-out;
    }

    &.participation-allowed {
      background: $color-green;
    }

    &.participation-pending {
      background: $color-orange;
    }

    &.offer-available {
      background: $color-green;
    }
  }

  .tooltiptext {
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    width: 135px;
    margin-left: -60px;
    padding: 5px 0;
    border-radius: 6px;
    color: $color-white;
    background-color: $color-base;
    opacity: 0;
    text-align: center;
    transition: opacity 1s;

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $color-base transparent transparent;
      content: "";
    }
  }

  .participants-count.offer-available:hover .tooltiptext,
  .participants-count.participation-pending:hover .tooltiptext {
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

}

.meal-guest {
  @extend %meal;

  border-width: 0;
  border-left: 0;

  .wrapper-vertical-center {
    right: 0;
    width: 30%;

    @include breakpoint(small) {
      width: 30%;
    }

    @include breakpoint(smaller) {
      width: 35%;
    }
  }

  &.is-available {
    border-color: transparent;
  }

  .header {
    padding: 5px 15px;
    color: $color-white;
    background-color: $color-green;
    font-weight: bold;
  }

  > .form-row {
    margin: 0;
  }

  .participants {
    width: 50%;
    margin-left: 25%;
    text-align: right;

    @include breakpoint(small) {
      width: 65%;
      margin-left: 10%;
    }

    @include breakpoint(smaller) {
      width: 75%;
      margin-left: 0;
    }
  }

  .action {
    width: 25%;
    padding-top: 4px;
    padding-left: 8px;
  }
}

.table {
  .table-data {
    &.category-title,
    &.dish-category,
    &.slot-title,
    &.dish-title {
      vertical-align: top;
    }

    &.dish-actions,
    &.category-actions {
      padding-top: 17px;
    }
  }

  .buttonbar-category-actions {
    display: block;
    float: left;
  }

  .buttonbar-dish-actions {
    display: block;
    float: left;

    @include breakpoint(small) {
      float: none;
    }
  }
}
