.modal-dialog-wrapper {
  color: $color-white;
  background-color: $color-gray-secondary;

  .header {
    font-weight: bold;
    font-size: 22px;
  }

  .actions {
    text-align: center;

    .button {
      min-width: 100px;
      margin: 0 5px;
      background-color: $color-gray-primary;
    }

    button:disabled {
      border: solid 1px $color-gray-primary;
      background-color: $color-gray-secondary;
      cursor: default;
    }
  }
}
