.headline-tool {
  .switchery-checkbox-wrapper {
    label {
      color: #606b72;
      font-family: Helvetica-Bold,Myriad Bold,Arial,sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      margin-right: 15px;
    }
  }
}