monolog:
    channels: [balance]
    handlers:
        main:
            type: fingers_crossed
            action_level: error
            handler: grouped
            excluded_http_codes: [404, 405]
            buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            channels: [ "!event", "!php", "!doctrine", "!balance" ]
        grouped:
            type: group
            members: [stderr, deduplicated]
        stderr:
            type: stream
            path: php://stderr
            level: debug
            formatter: monolog.formatter.json
        deduplicated:
            type: deduplication
            handler: notification_group
        notification_group:
            type: whatfailuregroup
            members: [symfony_mailer, slackwebhook]
        symfony_mailer:
            type: service
            id: App\Mealz\MealBundle\Service\Mailer\MonologMailer
            to_email: '%app.email.admin%'
            subject: 'Meals Error'
            level: debug
            content_type: text/html
        slackwebhook:
            type: slackwebhook
            webhook_url: '%app.notifier.mattermost.system_errors.webhook_url%'
            bot_name: 'Meals Logger'

            # keep it concise, i.e. only errors with context
            level: error
            include_extra: true
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]
        balance:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.admin-balance-change.log"
            level: info
            channels: ["balance"]
