/**************************************
  Clearfix
**************************************/
@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/**************************************
  Breakpoints
**************************************/
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: $bp-large) { @content ; }
  }
  @else if $point == medium {
    @media (max-width: $bp-medium) { @content ; }
  }
  @else if $point == small {
    @media (max-width: $bp-small) { @content ; }
  }
  @else if $point == smaller {
    @media (max-width: $bp-smaller) { @content ; }
  }
}
