<div data-confirmSwapbox data-src="#hidden-content2"></div>
<div class="confirmSwapbox" style="display: none;" id="hidden-content2">
    <p>{{ "notification.confirm_swap"|trans({}, "messages") }}</p>
    <a data-fancybox-close id="swapLink" title=OK class="button confirmSwapbox-item" href="javascript:;" onclick="swap($link)">{{ "button.ok"|trans({}, "actions") }}</a>
    <a data-fancybox-close title="Cancel" class="button confirmSwapbox-item2" href="javascript:;">{{ "button.cancel"|trans({}, "actions") }}</a> </div>