<div data-confirmSwapbox data-src="#confirm-swapbox"></div>
<div class="confirm-swapbox" id="confirm-swapbox">
    <p>{{ "notification.confirm_swap"|trans({}, "messages") }}</p>
    <a data-fancybox-close id="swapLink" title="OK" class="button confirm-swapbox-item" href="javascript:void(0)"
       onclick="swap(swapCheckbox, swapCheckbox.attr('value'));">{{ "button.ok"|trans({}, "actions") }}</a>
    <a data-fancybox-close title="Cancel" class="button confirm-swapbox-item2"
       href="javascript:;">{{ "button.cancel"|trans({}, "actions") }}</a>
</div>