<div class="profile-list" data-attribute-profiles="{{ profilesJson }}">
    <input class="profile" value="" />
    <a href="#" class="toggle-profiles">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <a href="#" class="button small">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
