mealz_accounting_payment_ecash_form_submit:
    path: /payment/ecash/form/submit
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\Payment\EcashController::postPayment }
    methods: [POST]

mealz_accounting_api_payment_cash:
    path: /api/payment/cash/{profile}
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\Payment\CashController::postPaymentCash }
    methods: [ POST ]

mealz_accounting_api_accounting_book:
    path: /api/accounting/book
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\AccountingBookController::list }

mealz_accounting_accounting_book_finance:
    path: /api/accounting/book/finance/list/{dateRange}
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\AccountingBookController::listAllTransactions, dateRange: null }

mealz_accounting_api_costs:
    path: /api/costs
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\CostSheetController::list }
    methods: [ GET ]

mealz_accounting_api_costs_hide_user:
    path: /api/costs/hideuser
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\CostSheetController::hideUser }
    methods: [ POST ]

mealz_accounting_api_costs_settlement:
    path: /api/costs/settlement
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\CostSheetController::postSettlement }
    methods: [ POST ]

mealz_accounting_costs_settlement_get_profile:
    path: /api/costs/profile/{hash}
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\CostSheetController::getProfileFromHash }
    methods: [ GET ]

mealz_accounting_api_costs_confirm_settlement:
    path: /api/costs/settlement/confirm/{hash}
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\CostSheetController::confirmSettlement }
    methods: [ POST ]

mealz_accounting_api_prices:
    path: /api/prices
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\PricesController::list }
    methods: [ GET ]

mealz_accounting_api_prices_add:
    path: /api/prices/add
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\PricesController::add }
    methods: [ POST ]

mealz_accounting_api_prices_edit:
    path: /api/prices/edit
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\PricesController::edit }
    methods: [ POST ]

mealz_accounting_api_prices_delete:
    path: /api/prices/delete
    defaults: { _controller: App\Mealz\AccountingBundle\Controller\PricesController::delete }
    methods: [ POST ]
