{% extends '::base.html.twig' %}

{% block body %}
	<h1>Menu</h1>
	<table class="table table-striped">
		<tbody>
		{% for meal in meals %}
			{% set dish=meal.dish %}
			<tr>
				<td>{{ meal.dateTime | date('Y-m-d H:i') }}</td>
				<td>
					<p><a href="{{ path('XopnMealzForZombiesMealzBundle_Meal_show', {'meal': meal.id}) }}">{{ dish.title }}</a></p>
					{% if dish.description %}<p class="text-muted">{{ dish.description }}</p>{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}