<!DOCTYPE html>
<html>
<head>
	<title>Mealz for Zombies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ asset('mealz.css') }}"/>
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>