{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		{% include 'MealzAccountingBundle:Accounting/partials:form_timePeriod.html.twig' with {
			form: timePeriodForm
		} %}

		<div class="container">
			<h1>{{ profile.name }}'s {{ 'Transaction'|trans({},'general') }} ({{ '%from% to %to%' | trans({
				'%from%': startDay | date('Y-m-d'),
				'%to%': endDay | date('Y-m-d'),
			}, 'general') }})</h1>
			{% include 'MealzAccountingBundle:Accounting/partials:transactionTable.html.twig' with {
				transactions: transactions,
			} %}
		</div>
	</div>

{% endblock %}