//**************************************
//  Colors
//**************************************
$color-white: #fff;
$color-base: #606b72;
$color-secondary: #acbdc7;
$color-body: #f2f5f7;

$meal-border-color: #d6dee2;

$color-gray-primary: $color-base;
$color-gray-secondary: #9aa9b3;
$color-gray-middle: $meal-border-color;
$color-gray-light: #ecf2f5;
$color-gray-lighter: #f7f9fb;

$color-green: #7cae5c;
$color-orange: #f79223;
$color-red: #f00;

$notification-background: rgba(0, 0, 0, .6);
$box-shadow: rgba(0, 0, 0, .1);

//**************************************
//  Fonts
//**************************************
$font-default: "Helvetica", "Myriad Regular", "Arial", sans-serif;
$font-light: "Helvetica-Light", "Myriad Light", "Arial", sans-serif;
$font-thin: "Helvetica-Light", "Myriad Light", "Arial", sans-serif;
$font-medium: "Helvetica-Medium", "Myriad Regular", "Arial", sans-serif;
$font-bold: "Helvetica-Bold", "Myriad Bold", "Arial", sans-serif;

//**************************************
//  Breakpoints
//**************************************
$bp-smaller: 360px;
$bp-small: 660px;
$bp-medium: 850px;
$bp-large: 1220px;
