{###
# Creates a form checkbox
#
# @param value      			string      Value Attribute
# @param classes    			string      Additional CSS Classes
# @param additionalAttributes 	array		Array of attributes of the checkbox object
#}
{% macro create(value, classes, additionalAttributes) %}
	{%- import 'MealzTemplateBundle::Components/_common.html.twig' as commonlib -%}
	{%- apply spaceless -%}
		<div class="checkbox-wrapper">
			<input type="checkbox" {# -#}
					{{- commonlib.optionalAttribute('class', classes) -}}
					{{- commonlib.additionalAttributes(additionalAttributes) -}}{# -#}
				   value="{{- value -}}"/>
		</div>
	{%- endapply -%}
{% endmacro %}
