{###
# Creates a switchery checkbox with an optional label
#
# @param id     			string      ID attribute for checkbox wrapper
# @param label  			string      Label for checkbox
#}
{% macro create(id, label = '') %}
	{%- import 'MealzTemplateBundle::Components/_common.html.twig' as commonlib -%}
	{%- apply spaceless -%}
		<div class="switchery-checkbox-wrapper">
			{% if label != '' %}
			<label for="{{- id }}">{{- label }}</label>
			{% endif %}
			<input type="checkbox" class="switchery-checkbox" id="{{- id }}" />
		</div>
	{%- endapply -%}
{% endmacro %}
