<a class="language-switch" href="{{ path('MealzMealBundle_language_switch') }}">
    <img src="{{ asset('images/flag-' ~ app.request.getLocale ~ '.png') }}" />
    {{  app.request.getLocale|trans({}, 'general') }}
</a>