{
	auto_https off
}

{$SERVER_ADDRESS}

log

route {
	redir / /.well-known/mercure/ui/
	encode zstd gzip

	mercure {
		# Transport to use (default to Bolt)
		transport_url {$MERCURE_TRANSPORT_URL:bolt://mercure.db}
		# Publisher JWT key
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
		# Subscriber JWT key
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}

		cors_origins {$MERCURE_ALLOWED_ORIGINS}
		publish_origins {$MERCURE_ALLOWED_PUBLISH_ORIGINS}
	}

	respond /healthz 200

	respond "Not Found" 404
}
