{% extends 'base.html.twig' %}

{% block title %}AOE Meals{% endblock %}

{% block body %}
    <div id="app" class="bg-[rgb(244,247,249)]">
        <div id="loading-fallback-container">
            <div id="loading-fallback-img"></div>
        </div>
    </div>
{% endblock %}