{% extends 'base_navigation.html.twig' %}

{% block body %}
	<div class="container">
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		{% for profile in profiles %}
			<div class="row">
				<div class="col-md-2">
					<a href="{{ path('mealz_accounting_accounting_detail', {'profile': profile.username}) }}">
						{{ profile.username }}
					</a>
				</div>
				<div class="col-md-2">
					{{ wallet.balance(profile)|localizedcurrency('EUR','de') }}
				</div>
				<div class="col-md-2">
					<a href="{{ path('mealz_accounting_payment_cash', {'profile': profile.username}) }}">
						<span class="glyphicon glyphicon-piggy-bank"></span>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
