{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{{ 'Wallet'|trans }}: {{ walletBalance }}
		<h1>{{ 'Accounting'|trans({},'general') }} ({{ '%from% to %to%' | trans({
				'%from%': startDay | date('Y-m-d'),
				'%to%': endDay | date('Y-m-d'),
			}, 'general') }})</h1>
		{% include 'MealzAccountingBundle:Accounting/partials:participantTable.html.twig' with {
			participations: participations,
			countAccountableParticipations: countAccountableParticipations,
		} %}
	</div>

{% endblock %}