{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		{% include 'MealzAccountingBundle:Accounting/partials:flashMessages.html.twig' %}

		{{ 'Wallet'|trans }} {{ walletBalance|localizedcurrency('EUR','de') }}
		{% if walletBalance < 0 %}
			<a href="{{ path('mealz_accounting_payment_paypal_balance') }}">balance</a> or
		{% endif %}
		<a href="{{ path('mealz_accounting_payment_paypal_custom') }}">add money</a>
	</div>
{% endblock %}