.confirmSwapbox {
  // to hide the box before popup is applied
  display: none;
  max-width: 400px;
  color: $color-white;
  background-color: $color-gray-secondary;
  font-size: 24px;
  font-family: $font-bold;
  line-height: 30px;

  p {
    margin-bottom: 20px;
  }

  .button {
    position: relative;
    width: 170px;
    text-align: center;
  }

  .button:visited {
    color: $color-white;
  }

}
