.profile-list {
  position: relative;
  margin: 30px 0;

  li:hover {
    cursor: pointer;
    background: $color-gray-middle;
  }

  .profile {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 0;
    border-top: 2px solid $color-gray-secondary;
    border-bottom: 2px solid $color-gray-secondary;
    background: $color-white;
  }

  .button.small,
  .button:active.small,
  .button:visited.small {
    float: left;
    padding: 13px 20px 12px;
  }

}

.toggle-profiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: none;
  color: $color-white;
  background: $color-base;

  &:hover,
  &:active {
    color: $color-base;
  }

  .glyphicon-menu-hamburger::before {
    display: block;
    padding: 12px 0 0 13px;
    color: $color-white;
  }
}

.easy-autocomplete {
  float: left;
  min-width: 250px;
  padding-left: 40px;
}
