%base-styling {
  border: none;
  color: $color-gray-primary;
  font-size: 12px;
  font-family: $font-light;
}

input {
  @extend %base-styling;
  -webkit-font-smoothing: antialiased;

  &[type="text"] {
    width: 100%;
    padding: 10px;
  }

  &:focus {
    outline: none;
  }
}

// Todo: Insert dropdown arrow as svg background image
select {
  @extend %base-styling;

  position: relative;
  padding: 10px;
  border: none;
  border-radius: 0;
  background: $color-white;
  cursor: pointer;
  text-indent: 1px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }
}

fieldset {
  width: 100%;

  legend {
    font-size: 12px;
    font-family: $font-bold;
  }
}
