button {
  border: 0;
  background: $color-base;
  color: $color-white;
  font-family: $font-medium;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 20px;
  transition: all .3s ease;

  &:focus {
    outline: none;
  }
}

input {
  font-family: $font-light;
  font-size: 12px;
  color: $color-gray-primary;
  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: none;
  }
}