.headline-container {
  @include clearfix();

  &.centered {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &-h1 {
    margin-bottom: 30px;
  }

  &-with-tools {
    .headline {
      float: left;
    }

    .headline-tools {
      float: right;

      a.button,
      button.button {
        padding: 0;
      }
    }
  }

  .sub {
    display: block;
    margin-top: 5px;
    color: $color-secondary;
    font-size: 14px;
    font-family: $font-default;
  }

  h1 {
    font-size: 24px;
    font-family: $font-bold;
  }
}

.headline-left {
  float: left;
  margin-bottom: 40px;
}
