$header-height: 120px;
$header-background : $color-gray-primary;
$header-login-button-background: #7b8b93;
$header-link-color: #acbdc7;

header {
  height: $header-height;
  background-color: $header-background;
  padding-top: 30px;

  .logo {
    @include clearfix();

    float: left;
    font-size: 26px;
    font-family: $font-bold;

    img,
    span {
      float: left;
    }

    span {
      color: $color-white;
      padding: 8px 0 0 5px;
    }
  }

  .header-toggle {
    display: none;

    @include breakpoint(small) {
      display: block;
    }
  }

  .header-right {
    float: right;
    z-index: 10;
    transition: all .3s ease;

    @include breakpoint(small) {
      opacity: 0;
      background: $header-background;
      width: 100%;
      position: absolute;
      left: 0;
      top: 65px;
      padding: 20px;

      &.is-open {
        opacity: 1;
        top: 70px;
      }

      .login-form {
        @include clearfix();

        input {
          max-width: 100%;
          width: 100%;
          margin-bottom: 15px;
        }

        button {
          float: right;
        }
      }
    }

    a {
      color: $header-link-color;

      &:hover {
        color: $color-white;
      }
    }
  }

  .header-text {
    display: inline-block;
    font-size: 12px;
    padding-top: 13px;
    color: $header-link-color;

    strong {
      padding-left: 5px;
      color: $color-white;
      font-family: $font-bold;
    }
  }

  .login-form {
    input, button {
      height: 35px;
      border: 0;
    }

    input {
      padding: 0 10px;
      margin-right: 10px;
      max-width: 130px;
    }

    .btn-login {
      padding: 0 20px;
      font-size: 12px;
      font-family: $font-medium;
      background-color: $header-login-button-background;

      &:hover {
        background: darken($header-login-button-background, 5%);
      }
    }
  }


  .btn-icon {
    & i.glyphicon.glyphicon-cog {
      top: 2px;
    }
  }
}
