.meal,
.day {
  $meal-border-width: 25px;

  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-left: $meal-border-width solid $color-gray-secondary;
  background: $color-gray-light;

  &.is-available {
    border-color: $color-green;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .week-day {
    position: absolute;
    top: 0;
    left: $meal-border-width * -1;
    width: $meal-border-width;
    height: 100%;
    color: $color-white;
    font-weight: bold;
    line-height: $meal-border-width;

    span {
      position: relative;
      top: 50%;
      display: block;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .meal-row {
    position: relative;
    padding: 10px 15px;

    &:not(:last-child) {
      border-bottom: 2px solid $meal-border-color;
    }

    &.no-meal {
      padding-top: 37px;
      padding-bottom: 37px;
      line-height: 56px;
    }

    &.one-meal {
      padding-top: 18px;
      padding-bottom: 18px;
      line-height: 28px;
    }

    .title {
      margin-bottom: 5px;
      font-weight: bold;
      font-family: $font-bold;
    }
  }

  .variation-row {
    margin-top: -3px;
  }

  .text,
  .wrapper-vertical-center,
  .wrapper-variation-vertical-center,
  .participants,
  .action {
    display: inline-block;
  }

  .text {
    width: 80%;
    padding-right: 10px;

    @include breakpoint(small) {
      width: 69%;
    }
  }

  .text-variation {
    line-height: 30px;
  }

  .wrapper-vertical-center {
    position: absolute;
    top: 50%;
    width: 20%;
    height: 30px;
    margin-top: -15px;

    @include breakpoint(small) {
      width: 31%;
    }
  }

  .wrapper-variation-vertical-center {
    position: absolute;
    width: 20%;
    height: 30px;
    vertical-align: bottom;

    @include breakpoint(small) {
      width: 31%;
    }
  }

  .participants,
  .action {
    width: 50%;
    text-align: center;
  }

  .action,
  .checkbox-wrapper {
    vertical-align: top;
  }

  .action {
    padding-top: 4px;
  }

  .participants {
    margin-top: 6px;

    span {
      position: relative;
      height: 28px;
      padding: 5px 5px 5px 15px;
      border-radius: 20px;
      color: $color-white;
      background: $color-gray-secondary;
      font-size: 12px;
      font-family: $font-bold;
    }

    .participants-count {
      vertical-align: middle;
      position: static;
      background: none;

      &::before {
        position: absolute;
        top: 6px;
        left: 13px;
        width: 10px;
        height: 10px;
        content: '\e008';
        font-size: 12px;
        font-family: "Glyphicons Halflings", sans-serif;
      }
    }
  }
}
