.table {

  .table-header {
    @include clearfix();

    margin-bottom: 15px;
    color: $color-gray-secondary;
    font-size: 12px;
    font-family: $font-bold;

    @include breakpoint(small) {
      display: none;
    }
  }

  .table-row {
    @include clearfix();

    margin-bottom: 20px;
    border-bottom: 1px solid $color-gray-light;
    font-size: 16px;
  }

  .table-data {
    .button {
      padding: 0;
      font-family: $font-default;
      line-height: 15px;
      text-transform: none;

      i {
        top: 2px;
        font-size: 15px;
      }
    }
  }

  .table-header,
  .table-row {
    > div {
      float: left;
      padding: 5px 0;

      @include breakpoint(small) {
        float: none;
        width: 100%;
      }
    }
  }
}
