{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% if balance < -50 and path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) != path('mealz_accounting_payment_transaction_history') %}
		<div data-fancybox data-src="#hidden-content"></div>
		<div class="fancybox" style="display: none;" id="hidden-content">
			<p>{{ "payment.acknowledge_debts.text"|trans({'%amount%': balance}, "messages") }}</p>
			<a data-fancybox-close title="Close" class="button fancybox-item" href="javascript:;">{{ "payment.acknowledge_debts.button"|trans({}, "messages") }}</a>
			<a data-fancybox-link class="button fancybox-item pay-now" href="{{ path('mealz_accounting_payment_transaction_history') }}">{{ "payment.acknowledge_debts.pay_now"|trans({}, "messages") }}</a>
		</div>
	{%  endif %}
{%  endif %}
