{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% if balance < -50 %}
		<div class="fancybox">
			<p>{{ "payment.acknowledge_debts.text"|trans({'%amount%': balance}, "messages") }}</p>
			<a href="#" class="button">{{ "payment.acknowledge_debts.button"|trans({}, "messages") }}</a>
		</div>
	{%  endif %}
{%  endif %}
