{% extends '::base.html.twig' %}

{% set wrapperClass = 'dish-list' %}

{% block body %}

{% include ':partials:flashMessages.html.twig' %}
<div class="headline">
	<h2>{{ 'dishes'|trans({},'general') }}</h2>
	<div class="actions"></div>
</div>
<div class="table">
	<div class="table-headings">
		<div class="dish-title">Title</div>
		<div class="dish-category">Category</div>
		<div class="dish-actions">Actions</div>
	</div>
	{% for dish in dishes %}
	<div class="dish-row">
		<div class="dish-title">{{ dish.title }}</div>
		<div class="dish-category">dish category</div>
		<div class="dish-actions">
			{% if is_granted('ROLE_KITCHEN_STAFF') %}
				{% include 'MealzMealBundle:DishAdmin/partials:userTools.html.twig' with {'button_class': 'btn-xs'} %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}