{% extends '::base.html.twig' %}

{% set wrapperClass = 'dish-list form-ajax' %}

{% block body %}

{# Set data for table header #}

{% set tableHeader = [{
        'label': 'Title',
        'class': 'dish-title'
    }, {
        'label': 'Category',
        'class': 'dish-category'
    }, {
        'label': 'Actions',
        'class': 'dish-actions no-sort'
    }]
%}

{# Set data for table content #}

{% set tableContent = [] %}
{% for dish in entities %}
    {% set tableContent = [{
        'title': {
            'content': dish.title,
            'class': 'dish-title'
        },
        'category': {
            'content': dish.category,
            'class': 'dish-category'
        },
        'actions': {
            'content': MealzButton.buttonbar('', 'buttonbar-dish-actions', [
                            MealzButton.link(link(dish, 'edit'), 'Edit', '', 'load-ajax-form load-edit-form transparent', 'glyphicon-pencil'),
                            MealzButton.link(link(dish, 'delete'), 'Delete', '', 'transparent', 'glyphicon-remove')
                       ]),
            'class': 'dish-actions'
        }
    }] | merge(tableContent) %}
{% endfor %}

{# Start tempalte #}

{{ MealzHeadline.create(1, 'list.dish'|trans({},'general'), '', '', [
    MealzButton.link(path('MealzMealBundle_Dish_Form_empty'), 'Create Dish', '', 'load-ajax-form load-create-form transparent', 'svg-dish')
], '') }}

    {% if form is defined %}
        <div class="error-form top-form">
        {% include 'MealzMealBundle:Dish/partials:form.html.twig' %}
        </div>
    {% else %}
        <div class="create-form top-form" style="display: none"></div>
    {% endif %}

{{ MealzTable.create('dish-table', 'table-sortable', tableHeader, tableContent) }}

{% endblock %}