{% extends '::base.html.twig' %}

{% set wrapperClass = 'dish-list' %}

{% block body %}

{# Set data for table header #}

{% set tableHeader = [{
        'label': 'Title',
        'class': 'dish-title'
    }, {
        'label': 'Category',
        'class': 'dish-category'
    }, {
        'label': 'Actions',
        'class': 'dish-actions'
    }]
%}

{# Set data for table content #}

{% set tableContent = [] %}
{% for dish in dishes %}
    {% set tableContent = [{
        'title': {
            'content': dish.title,
            'class': 'dish-title'
        },
        'category': {
            'content': 'category here',
            'class': 'dish-category'
        },
        'actions': {
            'content': MealzButton.buttonbar('', 'buttonbar-dish-actions', [
                            MealzButton.link(link(dish, 'edit'), 'Edit', '', 'dish-edit transparent', 'glyphicon-pencil'),
                            MealzButton.link(link(dish, 'delete'), 'Delete', '', 'transparent', 'glyphicon-remove')
                       ]),
            'class': 'dish-actions'
        }
    }] | merge(tableContent) %}
{% endfor %}

{# Start tempalte #}

{{ MealzHeadline.create(1, 'list.dish'|trans({},'general'), '', '', [
    MealzButton.link(path('MealzMealBundle_Dish_Form'), 'Create Dish', '', 'dish-create transparent', 'glyphicon-pencil')
], '') }}

{{ MealzTable.create('dish-table', '', tableHeader, tableContent) }}

    <div class="test"></div>
{% endblock %}