.meal-guest {
  @extend %meal;

  border-width: 0;
  border-left: 0;

  .wrapper-vertical-center {
    right: 0;
    width: 30%;

    @include breakpoint(small) {
      width: 30%;
    }

    @include breakpoint(smaller) {
      width: 35%;
    }
  }

  .wrapper-variation-vertical-center {
    @include breakpoint(small) {
      width: 30%;
    }
  }

  &.is-available {
    border-color: transparent;

    .header {
      background-color: $color-green;
    }
  }

  .header {
    padding: 5px 15px;
    color: $color-white;
    background-color: $color-gray-secondary;
    font-weight: bold;
  }

  > .form-row {
    margin: 0;
  }

  .participants {
    width: 65%;
    text-align: right;

    @include breakpoint(small) {
      width: 65%;
    }

    @include breakpoint(smaller) {
      width: 75%;
    }
  }

  .action {
    padding-left: 8px;
  }

  .meal-row {
    @include clearfix();

    .text-variation {
      float: left;
      width: 70%;
    }
  }
}

.guest-wrapper .language-switch {
  float: right;
}

// stylelint-disable selector-max-id
#invitation_form_profile input[type="text"] {
  border: 2px solid $color-gray-light;
}
// stylelint-enable selector-max-id

